<!DOCTYPE html>
<html>
<head>
  <title>Simple Blog</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Simple Blog</h1>
  <a href="/new">Create New Post</a>
  <% posts.forEach(post => { %>
    <div class="post">
      <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
      <p><%= post.content.substring(0, 100) %>...</p>
    </div>
  <% }) %>
</body>
</html>
